:root{
    --card-bgc:#293b50;
    --card-color:white;
}

.servicios {
    width: 100%;
    padding: 160px 0px;
}

.servicios .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 120px 0px;
}

.servicios .container-fluid .card{
    align-items: center;
    padding: 35px 10px;
    border-radius: 50px;
    color: var(--card-color);
    background-color: var(--card-bgc);
}

.servicios h2, .servicios span {
    font-size: 35px;
    padding: 20px 0px;
}

.servicios h3 {
    font-size: 25px;
    padding: 20px;
}