:root{
    --card-bgc:#293b50;
    --card-color:white;
}

.servicios {
    padding: 170px 20px;
    background-color: var(--servicios-bgcolor);
    text-align: center;
}

.servicios h2 {
    font-size: 2.5rem;
    margin: 0px 0px 130px 0px;
}

.servicios .card {
    --bs-card-bg: unset !important;
    border: none;
    border-radius: 40px;
    box-shadow: 0 1px 10px rgba(173, 235, 255, 0.945);
    transition: transform 0.3s;
}

.servicios .card:hover {
    transform: translateY(-5px);
}

.servicios .card h3 {
    font-size: 1.5rem;
    margin: 35px 0px;
    padding: 17px 0px;
    color: var(--card-color);
}

.servicios .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8%;
    background-color: var(--card-bgc);
    border-radius: 40px;
}