:root {
    --acercaDe-bgcolor: #293b50;
    --acercaDe-h3-color: #fff;
    --acercaDe-h2-color: #fff;
    --acercaDe-p-color: #fff;
}

#acercaDe {
    width: 100%;
    background-color: var(--acercaDe-bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px 0;
}

.d-grid {
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.acercaDe-contenedor p {
    font-size: 20px;
    color: var(--acercaDe-p-color);
    width: 100%; /* Cambiar el ancho al 100% para que respete el padding/margen */
    margin-top: 20px;
    text-align: justify;
}

.foto-contenedor img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Para hacer la imagen circular */
}

.acercaDe-contenedor {
    width: 40% !important;
    padding: 20px;
}

.acercaDe-contenedor h2 {
    text-align: center;
    font-size: 2.5rem;
}

.acercaDe-contenedor h3 {
    font-size: 2rem;
}

.acercaDe-contenedor p {
    font-size: 1rem;
    padding: 10px 80px;
}

.row {
    margin-right: none !important;
}