:root{
    --skills-bgc: #293b50;
    --card-bgc: #293b50;
}

.skills {
    padding: 150px 20px;
    background-color: var(--skills-bgc);
    text-align: center;
}

.skills h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.skills .card {
    background-color: var(--card-bgc); /* Usa tu color de fondo deseado */
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
    padding: 20px;
}

.skills .card:hover {
    transform: translateY(-5px);
}

.skills .card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
}

.skills .icons {
    max-width: 90px;
    height: auto;
}

.skills-conocimiento, .barras, .torta {
    border: none;
    border-radius: 10px;
    padding: 20px 0px;
}

.skills-conocimiento h3, .barras h4, .torta h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.skills .parrafo {
    margin: 100px 20px;
    font-size: 1.2rem;
    text-align: justify;
}

.skills .graph {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 0px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(72, 73, 73);
}