:root{
    --skills-bgc: #293b50;
    --card-bgc: #293b50;
    --card-color:white;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 0px;
    background-color: var(--skills-bgc);
}

.skills .container-fluid .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.skills .container-fluid .container .card {
    border: none;
    align-items: center;
    width: auto;
    background-color: var(--card-bgc);
    color: var(--card-color);
}

.skills .container-fluid .container .card .icons {
    width: 80px;
    height: 80px;
}

.skills .container-fluid .skills-conocimiento .parrafo {
    padding: 70px;
    font-size: 25px;
}

.skills .container-fluid .container .graph {
    border-radius: 0px;
    margin: 0px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgb(72, 73, 73);
}

.skills h2, .skills span{
    font-size: 35px;
}
