:root{
    --btn-color:white;
    --btn-bgcolor:#42d6ff;

    --btn-hover-bgcolor:white;
    --btn-hover-color:#09121c;
}

.boton {
    color: var(--btn-color);
    background-color: var(--btn-bgcolor);
    margin: 20px;
    padding: 25px 20px;
    border-radius: 20px;
    font-size: 24px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 20px rgb(134, 255, 255, 0.5);
    text-shadow: 0.2px 0.8px 3px #000000;
    transition: color 1.9s, background-color 1.9s;
}

.boton:hover {
    background-color: var(--btn-hover-bgcolor);
    color: var(--btn-hover-color);
}