:root {
    --header-bgcolor: #070e1f;

    --nav-link-hover-color: #070e1f;
}


.header {
    width: 100%;
    background-color: var(--header-bgcolor);
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-around !important;
}

.navbar {
    padding: 0px !important;
}

.navbar-brand {
    padding: 0px 50px;
}

.nav-link{
    padding: 35px 50px !important;
    color: white !important;
    font-size: 23px !important;
    transition: background-color 1.9s, color 1.9s !important;
}

.nav-link:hover {
    background-color: white;
    color: var(--nav-link-hover-color) !important;
}

.menu-icono {
    display: none;
}