:root{

    --footer-bgc:#293b50;

    --h2-span-color: #42d6ff;

    --form-control-bgc: #09121c;
    --form-control-label-color: #757575;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 0px 70px 0px;
    background-color: var(--footer-bgc);
}

.footer .container-fluid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer h2, .footer span {
    font-size: 35px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.footer .form-control {
    background-color: var(--form-control-bgc);
    font-size: 20px;
}

.footer .container-fluid .form-floating {
    width: 40%;
    margin: 10px 20px;
}


.footer .form-container textarea {
    height: 300px;
    font-size: 25px;
    width: 83%;
}

.footer .container-fluid .label-textarea{
    margin: 0px 10%;
}

.footer .container-fluid label, .footer .form-container label {
    color: var(--form-control-label-color);
    font-size: 20px;
}

.footer span {
    color: var(--h2-span-color);
}

.footer h2 {
    padding: 20px;
    font-weight: bold;
}

.footer input {
    height: 70px !important;
}