#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;

  --nav-link-hover-bgc: #42d6ff;
  --nav-link-hover-color: #070e1f;

  --hero-icon-color: #42d6ff;
  --hero-icon-hover-color: #fff;

  --acercaDe-h3-color: #fff;
  --acercaDe-h2-color: #fff;
  --acercaDe-p-color: #fff;

  --card-bgc: #293b50;
}

/*Estilos aplicados al Header*/

.nav-item {
  cursor: pointer;
  transition: background-color 1.9s, color 1.9s !important;
}

.nav-item:hover{
  color: var(--nav-link-hover-color);
  background-color: var(--nav-link-hover-bgc);
}

.nav-item .active {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*Estilos aplicados al Hero*/

.icons {
  margin: 0px 25px;
  color: var(--hero-icon-color);
  font-size: 45px;
  transition: color 1.9s;
}

.icons:hover {
  color: var(--hero-icon-hover-color);
}

/*Estilos aplicados al About*/


/*Estilos aplicados al componente Work*/

.servicios .card {
  box-shadow: 0 1px 10px rgba(173, 235, 255, 0.945);
  transition: transform 0.3s;
}

.servicios .card:hover {
  transform: translateY(-5px);
}

/*Estilos aplicados al componente Skills*/

.skills .card {
  background-color: var(--card-bgc); /* Usa tu color de fondo deseado */
  border-radius: 10px;
  transition: transform 0.3s;
}

.skills .card:hover {
  transform: translateY(-5px);
}

.skills .icons {
  max-width: 90px;
}

.skills-conocimiento, .barras, .torta {
  border-radius: 10px;
  padding: 20px 0px;
}

.skills .parrafo {
  margin: 100px 20px;
  text-align: justify;
}

.skills .graph {
  max-width: 100%;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(72, 73, 73);
}

/*Estilos aplicados al componente Portfolio*/

.img-proyecto {
  border-radius: 10px;
  margin: 29px;
  cursor: pointer;
  width: 55%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3; 
  border-radius: 10px; 
  transition: box-shadow 1.9s;
}

.img-proyecto:hover {
  box-shadow: 0 0 20px rgba(123, 255, 255, 0.6);
}

.row {
  margin-right: 0px !important;
}