#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;

  --nav-link-hover-bgc: white;
  --nav-link-hover-color: #070e1f;

  --hero-icon-color: #42d6ff;
  --hero-icon-hover-color: #fff;

  --acercaDe-h3-color: #fff;
  --acercaDe-h2-color: #fff;
  --acercaDe-p-color: #fff;
}

/*Estilos aplicados al Header*/

.nav-link{
  transition: background-color 1.9s, color 1.9s !important;
}

.nav-link:hover {
  background-color: var(--nav-link-hover-bgc);
  color: var(--nav-link-hover-color) !important;
}

/*Estilos aplicados al Hero*/

.hero-section-info {
  padding: 20px;
  margin: auto auto auto 150px;
}


.hero-iconos-contenedor i {
  margin: 0px 25px;
  color: var(--hero-icon-color);
  font-size: 45px;
  transition: color 1.9s;
}

.hero-presentacion i:hover {
  color: var(--hero-icon-hover-color);
}

/*Estilos aplicados al About*/


.acercaDe-contenedor p {
  font-size: 20px;
  color: var(--acercaDe-p-color);
  text-align: justify;
}

.acercaDe-contenedor {
  width: 40% !important;
  padding: 20px;
}

.acercaDe-contenedor h2 {
  text-align: center;
  font-size: 2.5rem;
}

.acercaDe-contenedor h3 {
  font-size: 2rem;
}

.acercaDe-contenedor p {
  font-size: 1rem;
  padding: 10px 80px;
}

.row {
  margin-right: 0px !important;
}

.foto-contenedor {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
  width: 580px;
  box-shadow: 0 0 40px rgb(134, 255, 255, 0.9);
}