@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root{
  --body-color: #fff;
  --body-bgcolor: #011225;
  --span-color: #42d6ff;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

h1, h2, h3, p {
  margin: 20px;
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  font-weight: 400px;
}

span {
  color: var(--span-color);
}