:root {
    --hero-contenedor-bgcolor: #011225; 
    --hero-icon-color: #42d6ff;
    --hero-icon-hover-color: #fff;
}

.hero-contenedor {
    padding: 170px 0px;
    background-color: var(--hero-contenedor-bgcolor);
}

.hero-presentacion {
    margin-bottom: 20px;
}

.hero-section-info {
    padding: 20px;
    margin: auto auto auto 150px;
}

.hero-section-info h1 {
    font-size: 2.5rem;
}

.hero-section-info h2 {
    font-size: 2rem;
}

.hero-section-info p {
    font-size: 1rem;
}

.hero-iconos-contenedor {
    text-align: start;
}

.hero-iconos-contenedor i {
    margin: 0px 25px;
    color: var(--hero-icon-color);
    font-size: 45px;
    transition: color 1.9s;
}

.hero-presentacion i:hover {
    color: var(--hero-icon-hover-color);
}

.foto-contenedor img {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
    width: 580px;
    box-shadow: 0 0 40px rgb(134, 255, 255, 0.9);
}